{lib_dirs, ["deps"]}.
{erl_opts, [{i, "../alog/include"}, {i, "deps/alog/include"}, {i, ".."}, {i,"deps"}, debug_info]}.
{deps, 
 [
  {redo, "1.0", {git, "git://github.com/JacobVorreuter/redo", "HEAD"}},
  {alog, ".*", {git, "https://github.com/siberian-fast-food/alogger.git", {branch, "master"}}}
 ]}.
